* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.info {
    justify-self: flex-end;
}

.heading {
    align-self: flex-end;
    font-size: xx-large;
}

#add-book {
    position: fixed;
    bottom: 30px;
    right: 15px;
}