* {
  padding: 0;
  margin: 0;
}

:root {
		--book-width: 25vw;
}

body { 
		font-family: 'Roboto+Mono', sans-serif;
}

.header {
		padding: 20px;
		text-align: left;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header h1 {
		font-size: 3rem;
}

.info {
  justify-self: flex-end;
}

.heading {
  align-self: flex-end;
}

#add-book {
  position: fixed;
  bottom: 30px;
  right: 15px;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 4rem;
  border-style: none;
  background-color: lightblue;
  cursor: pointer;
}

#add-book:hover {
  height: 6rem;
  width: 6rem;
  font-size: 5rem;
}

.main {
  padding: 50px;
  display: grid;
		gap: 50px;
		grid-template-columns: repeat(auto-fit, minmax(var(--book-width), 1fr));
		grid-auto-flow: row;
}

form {
  position: fixed;
  top: 30%;
  left: 40%;
  display: grid;
  gap: 15px;
  padding: 50px;
  background-color: lightblue;
		border-radius: 15px;
		font-weight: lighter;
		width: 200px;
}

.input {
  display: flex;
  flex-direction: column;
		gap: 5px;
}

.input input {
	padding: 5px;
	border-radius: 5px;
	border-style: none;
}

.checkbox {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.checkbox input {
	width: 20px;
	height: 20px;
}

form .buttons {
	justify-self: center;
	margin-top: 20px;
}

form .buttons button {
	padding: 10px;
	border-radius: 10px;
	border-style: none;
	cursor: pointer;
}

form .buttons button:hover {
		opacity: 0.8;
}

.book {
		display: grid;
		grid-template-rows: repeat(5, 1fr);
		align-items: center;
		justify-content: center;
		border: 0px solid black;
		border-radius: 10px;
		padding: 10px;
		height: 25vh;
		width: var(--book-width);
		text-align:	center;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
			
.book :first-child {
		font-size: 1.2rem;
		font-weight: bold;
		word-wrap: break-word;
}

.book .remove,
.book .read {
		padding: 5px;
		cursor: pointer;
		border-radius: 5px;
		border: none;
		font-size: 1rem;
		width: 20vw;
		justify-self: center;
}

.book .read:hover {
		opacity: 0.8;
}

.book .remove:hover {
		opacity: 0.8;
		background-color: #ff7f7f;
}

